.login-container {
  background-color: #f14668;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  font-size: 36px;
  align-items: center;

  img {
    border-radius: 80px;
    width: 800px;
    height: 800px;
  }
}
